.content {
	margin: 0;
}
.heading {
	display: flex;
	flex-direction: row;
	justify-content: center;	
	align-items: center;
	text-align: center;
  box-shadow: 0px 15px 15px #00000010;
  font-size: calc(var(--index) * 1.5);
}
.radio-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}
.radio-input label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(var(--index) * 1);
  border: 1px solid #E94057;
  font-family: outfit;
  font-size: calc(var(--index) * 1.5);
  cursor: pointer;
}
.radio-input label:has(input:checked) {
  background-color: #E94057;
  color: #fff;
}
.radio-input input {
  display: none;
}
.radio-input svg {
	margin: 0 calc(var(--index) * 1);
  height: calc(var(--index) * 1);
}


main {
  margin-bottom: calc(var(--index) * 2);
}
.container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}

.prof-container {
	width: 90%;
	margin-top: calc(var(--index) * 7);
  margin-bottom: calc(var(--index) * 5);
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	gap: calc(var(--index) * 2);
}

.form__group {
  position: relative;
  padding: calc(var(--index) * 1) 0 0;
  width: 100%;
  font-family: outfit;
}
.form__field {
  width: 100%;
  min-height: calc(var(--index) * 3);
  border: none;
  border-bottom: 2px solid #999999;
  outline: 0;
  font-size: calc(var(--index) * 1.5);
  color: #000000;
  padding: calc(var(--index) * 0.3) 0;
  background: transparent;
  transition: border-color 0.2s;
  overflow: hidden;
  resize: none;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: calc(var(--index) * 1.5);
  cursor: text;
  top: calc(var(--index) * 1);
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: calc(var(--index) * 1.5);
  color: #999999;
  pointer-events: none;
}
.form__field:focus {
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #E94057, #E94057);
  border-image-slice: 1;
}
.form__field:not(:placeholder-shown) ~ .form__label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: calc(var(--index) * 1);
  color: #E94057;
  font-weight: 700;
}	
/* reset input */
.form__field:required,
.form__field:invalid{
  box-shadow: none;
}
.label__select {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: calc(var(--index) * 1);
  color: #E94057;
  font-weight: 700;
}