<div class="wrapper">
  <div class="content">
    <header>
      <div class="heading">
        <h1>Password Settings</h1>
      </div>
    </header>
    <main>
      <div class="container" id="container">
        <div class="prof-container">
          <div class="flex">
            <div class="form__group field">
              <input #old_password type="password" class="form__field" placeholder="Old Password" >
              <label class="form__label">Old Password</label>
            </div>
            <div class="form__group field">
              <input #new_password type="password" class="form__field" placeholder="New Password" >
              <label class="form__label">New Password</label>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="radio-input">
        <label>
          <input type="radio" id="value-1" name="value-radio" value="value-1" (click)="navigateTo('home/settings')" checked>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
          <span>Back</span>
        </label>
        <label>
          <input type="radio" id="value-2" name="value-radio" value="value-2" (click)="onUpdatePassword(old_password.value, new_password.value)">
          <span>Save</span>
        </label>
      </div>
    </footer>
  </div>
</div>
<div *ngIf="showCheck">
	<app-check></app-check>
</div>