<header>
	<div class="heading">
		<h1>Matchs</h1>
		<div class="header_content">
			<div class="nav_menu">
				<label>
					<input type="radio" id="value-1" name="value-radio" value="value-1" (click)="onGetMatchedUsers()" checked>
					<span>Profiles</span>
				</label>
				<label>
					<input type="radio" id="value-2" name="value-radio" value="value-2" (click)="onGetJoinedGroups()">
					<span>Groups</span>
				</label>
				<label>
					<input type="radio" id="value-3" name="value-radio" value="value-3" (click)="onGetJoinedChannel()">
					<span>Channels</span>
				</label>
			</div>

		</div>
	</div>
</header>
<main>
	<div class="container" id="container">

	</div>
</main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
