venv/
env/
.venv/
.env/

*.env

__pycache__/
*.py[cod]
*$py.class

*.sqlite3

*.log

.cache/
.coverage
.pytest_cache/
.tox/
.nox/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

migrations/versions/

.DS_Store
Thumbs.db